<rdf:RDF xmlns:skos="http://www.w3.org/2004/02/skos/core">
2. <skos:Concept rdf:about="http://www.example.org/conceptos#americanorte">
3. <skos:prefLabel xml:lang="es">América del Norte</skos:prefLabel>
4. <skos:altLabel xml:lang="es">Norte América</skos:altLabel>
5. <skos:hiddenLabel xml:lang="es">América Norte</skos:hiddenLabel>
6. <skos:prefLabel xml:lang="en">North America</skos:prefLabel>
7. </skos:Concept>
8. </rdf:RDF> 
